.heading {
    height: 75px;
    padding: 0;
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
}

.cityList {
    background-color: gray;
    text-align: center;
    padding-left: 25px;
}

.data {
    border: 2px solid black;
    padding-left: 5px;
}

#errorMessage {
    color: firebrick;
    display: none;
}

.dataDisplay {
    padding: 5px;
}

#currentUVIndex {
    border-radius: 9px;
}