/* element selectors */
h1 {
    color: white;
}

/* id selectors */
#errorMessage {
    color: firebrick;
    display: none;
}

#currentUVIndex {
    border-radius: 9px;
}

#currentIcon {
    height: 25px;
    width: 25px;
}

/* class selectors */

.heading {
    height: 75px;
    padding: 0;
    background-color: black;
    text-align: center;
}

.cityList {
    background-color: gray;
    text-align: center;
    padding-left: 25px;
}

.data {
    border: 2px solid black;
    padding-left: 5px;
}

.dataDisplay {
    padding: 5px;
}

.card {
    background-color: blue;
    color: white;
}

.weatherIcon{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.row {
    margin-right: 5px;
    margin-left: 5px;
}

.cityBtns {
    margin-top: 14px;
    margin-bottom: 10px;
    /* border: 2px solid black; */
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px;
}